<style>

</style>

<body>

  <header>
    <h1>Óla, {{name}}!</h1>
  </header>

  <p>
    Foi solicitado uma troca de senha. Se você foi o responsavel por essa
    ação por favor acesse o link abaixo:
  </p>

  <a href="{{link}}">
    RECUPERAR SENHA
  </a>

  <footer>
    <span>Equipe GoBarber | Suporte</span>
  </footer>
</body>
